body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p.inset {border-style: inset;}


.MyBorder{
  padding: 10px 10px;
  border: 10px solid;
  }
  
  .MyBorder-green{
  border-color: green;
  }
  .MyBorder-blue{
  border-color: blue;
  }
  .MyBorder-red{
  border-color: red;
  }
  
  
  
  .MyDialog-title{
  margin: 0;
  font-family: sans-serif;
  }
  
  .MyDialog-message{
  font-size: larger;
  }

  .Mycolor{
    padding: 10px 10px;
    border: 10px solid;
    }
  .Mycolor-blue{
    color: blue;
    }
    .Mycolor-green{
      color: green;
      }
      .Mycolor-yellow{
        color: yellow;
        }